* {
	box-sizing: border-box;
	overflow: hidden;
	font-family: "Bangers", cursive;
	letter-spacing: 2px;
}

:root {
	height: 100vh;
	width: 100vw;
	background: no-repeat;
	background-size: 100% 100%;
	background-image: url(https://img.freepik.com/free-photo/blue-dark-gradient-texture-wall-background_28629-888.jpg?size=626&ext=jpg);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-size: 100% 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	width: 100%;
	color: #8bd77b;
	font-size: 60px;
	text-decoration: underline overline;
	letter-spacing: 4px;
}

.game-score {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	font-size: 30px;
	color: #b63f3f;
}
.coin-score{
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	font-size: 30px;
	color: #b63f3f;
}
#coinScore span{
	margin: 0px 10px ;
}
#coinScore {
	color: gold;
}

.flag-score {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	font-size: 30px;
	color: #e3a740;
}

.grid-container {
	height: 60vh;
	width: 50%;
	margin-bottom: 0;
	cursor: pointer;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.result-display {
	height: 5vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	font-weight: bolder;
}

button {
	font-size: 20px;
	color: red;
	cursor: pointer;
	margin: 0 auto;
	background: black;
}
.box{
	background-color: white;
	width: 42px;
	height: 42px;

}
.box1{
	background-color: green;
}
.box2{
	background: url(./bom1.png) no-repeat  center / cover red;
	/* background-color: red; */
}
#boxId{
	background:white;
	
}
.openResult{
	width: 50%;
	height: 60vh;
	background-color: rgb(71, 58, 58);
	color: white;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.coin i{
	color: gold;
}
